pyyaml  # config style reader
dm_control  # handles mujoco/mjcfs
shapely  # for collision detection
matplotlib  # for plotting
sphinx  # for documentation
webcolors==1.13 # Locked at 1.13 for hex-to-name color mapping compatibility.
pillow
typer
sphinx_rtd_theme
importlib_resources
